/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
/* HEADER */
header{
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    /* text-align: center; */
}
header button{
    background-color: #382525;
    color: white;
    border-radius: 5px;
    padding: 5px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
}
nav li{
    list-style: none;
}
.w-80{
    width: 80%;
    margin: auto;
}
.hero-section{
    background-color: #3F1919;

    
}
.hero-section div{
    text-align: center;
    color: white;
    padding: 75px 0px;
}
.hero-section h3,p{
    padding-bottom: 15px;
}
.hero-section button{
    background-color: #E26464;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#D9D9D9;
    width: 300px;
    height: auto;
    padding: 20px;
    margin: auto;
    border-radius: 20px;   
    
}
.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 5px;
    width: 80%;
    margin: auto;


}
.vinesh{
    text-align: right;
}
footer{
    background-color: #3F1919;
    display: flex;
    flex-wrap: wrap;
    
}
.footer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    
    
}
.footer-row div{
    width: auto;
    height: 250px;
    padding: 30px;
    
}
a{
    text-decoration: none;
    list-style: none;
    color: #000000;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    

}

.class{
    display: flex;
    flex-wrap: wrap;

 }
.newsletter{
    display: flex;
    align-items: flex-start;
    
    
    
}
.newsletter button{
     background-color: #E26464;
}

.newsletter button,input{
    padding: 10px 5px;
    flex-wrap: wrap;
    
}
.sheild{
    display: flex;
    background-color: #E26464;
    padding: 10px;
    margin: auto;
}
.sheild{
    justify-content: space-between;
    
    align-items: center;

}